.App {
  text-align: center;
}

body {
  font-family: "arial";
}

.black_cow {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.dogfoot {
  color: yellow;
  font-size: 30px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
